header {
    margin: 0rem;
    padding: 1rem;
}

body {
    margin: 0;

    padding: 0;
}

.orange {
    color: #F3A950;
}

.black {
    color: #161B21;
}

.orange-background {
    background-color: #F3A950;
}

.black-background {
    background-color: #161B21;
}

.button-orange {
    transition: 0.2s;
    border: none;
    font-weight: bold;
    padding: 1rem;
    margin: 0.3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    background-color: #F3A950;
    color: #161B21;
}

.button-orange:hover {
    transition: 0.2s;
    gap: 1rem;
    background-color: rgb(202, 177, 35);
  }

.button-black {
    transition: 0.2s;
    border: none;
    font-weight: bold;
    padding: 1rem;
    margin: 0.3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    background-color: #161B21;
    color: #F3A950;
}

.button-black:hover {
    transition: 0.2s;
    gap: 1rem;
    background-color: rgb(80, 80, 80);
}

.buttons-in-one-line form {
    display: inline-block;
}

.input-field {
    border: solid;
    border-radius: 0.2rem;
    border-color: #161B21;
    font-weight: bold;
    padding: 1rem;
    margin: 0.3rem;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    background-color: white;
    color: black;
}

.center-everything {
    align-items: center;
    text-align: center;
}

.information-popup {
    background-color: greenyellow;
}

.recipe-image {
    width: 30rem;
    height: 30rem;
    border: 1rem ridge rgba(211, 220, 50, .6);
    border-radius: 0.2rem;
    border-color: #d49241;
}

.flex-container {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
  
.flex-container > div {
    background-color: #e6e6e6;
    border: solid;
    border-color: #161B21;
    border-radius: 0.2rem;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    flex-basis: 50rem;
    text-align: left;
}

.flex-comments {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
    align-items: center;
	align-content: stretch;
}

.flex-comments > div {
    background-color: #e6e6e6;
    border: solid;
    border-color: #161B21;
    border-radius: 0.2rem;
    margin: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-size: 1.2rem;
    flex-basis: auto;
    text-align: center;
    width: 30rem;
}

.list-no-deco {
    list-style: none;
}

.margin-1rem {
    margin: 1rem;
}